<h1>Listing store_manager_messages_folders</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @store_manager_messages_folders.each do |store_manager_messages_folder| %>
  <tr>
    <td><%= link_to 'Show', store_manager_messages_folder %></td>
    <td><%= link_to 'Edit', edit_store_manager_messages_folder_path(store_manager_messages_folder) %></td>
    <td><%= link_to 'Destroy', store_manager_messages_folder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Folder', new_store_manager_messages_folder_path %>
