<h1>Listing store_manager_messages_reads</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @store_manager_messages_reads.each do |store_manager_messages_read| %>
  <tr>
    <td><%= link_to 'Show', store_manager_messages_read %></td>
    <td><%= link_to 'Edit', edit_store_manager_messages_read_path(store_manager_messages_read) %></td>
    <td><%= link_to 'Destroy', store_manager_messages_read, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Read', new_store_manager_messages_read_path %>
