<h1>Listing store_policies</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @store_policies.each do |store_policy| %>
  <tr>
    <td><%= link_to 'Show', store_policy %></td>
    <td><%= link_to 'Edit', edit_store_policy_path(store_policy) %></td>
    <td><%= link_to 'Destroy', store_policy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Policy', new_store_policy_path %>
