<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_home_categories_products_indices_like_path(@home_categories_products_indices_like) %> |
<%= link_to 'Back', home_categories_products_indices_likes_path %>
