<h1>Editing home_categories_products_indices_photo</h1>

<%= render 'form' %>

<%= link_to 'Show', @home_categories_products_indices_photo %> |
<%= link_to 'Back', home_categories_products_indices_photos_path %>
