<h1>Listing store_policies_information</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @store_policies_information.each do |store_policies_information| %>
  <tr>
    <td><%= link_to 'Show', store_policies_information %></td>
    <td><%= link_to 'Edit', edit_store_policies_information_path(store_policies_information) %></td>
    <td><%= link_to 'Destroy', store_policies_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Information', new_store_policies_information_path %>
