// Place all the styles related to the store/manager/messages/folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
