<h1>Listing store_manager_promotions</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @store_manager_promotions.each do |store_manager_promotion| %>
  <tr>
    <td><%= link_to 'Show', store_manager_promotion %></td>
    <td><%= link_to 'Edit', edit_store_manager_promotion_path(store_manager_promotion) %></td>
    <td><%= link_to 'Destroy', store_manager_promotion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Promotion', new_store_manager_promotion_path %>
