<h1>Listing store_manager_indices_users</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @store_manager_indices_users.each do |store_manager_indices_user| %>
  <tr>
    <td><%= link_to 'Show', store_manager_indices_user %></td>
    <td><%= link_to 'Edit', edit_store_manager_indices_user_path(store_manager_indices_user) %></td>
    <td><%= link_to 'Destroy', store_manager_indices_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_store_manager_indices_user_path %>
