<h1>Listing store_manager_orders</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @store_manager_orders.each do |store_manager_order| %>
  <tr>
    <td><%= link_to 'Show', store_manager_order %></td>
    <td><%= link_to 'Edit', edit_store_manager_order_path(store_manager_order) %></td>
    <td><%= link_to 'Destroy', store_manager_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_store_manager_order_path %>
