<h1>Listing store_manager_reviews</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @store_manager_reviews.each do |store_manager_review| %>
  <tr>
    <td><%= link_to 'Show', store_manager_review %></td>
    <td><%= link_to 'Edit', edit_store_manager_review_path(store_manager_review) %></td>
    <td><%= link_to 'Destroy', store_manager_review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Review', new_store_manager_review_path %>
