<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_home_categories_products_indices_shop_path(@home_categories_products_indices_shop) %> |
<%= link_to 'Back', home_categories_products_indices_shops_path %>
