<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_home_categories_products_indices_description_path(@home_categories_products_indices_description) %> |
<%= link_to 'Back', home_categories_products_indices_descriptions_path %>
