<h1>Listing store_manager_messages</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @store_manager_messages.each do |store_manager_message| %>
  <tr>
    <td><%= link_to 'Show', store_manager_message %></td>
    <td><%= link_to 'Edit', edit_store_manager_message_path(store_manager_message) %></td>
    <td><%= link_to 'Destroy', store_manager_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_store_manager_message_path %>
