<h1>Listing home_categories_products_indices_users</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @home_categories_products_indices_users.each do |home_categories_products_indices_user| %>
  <tr>
    <td><%= link_to 'Show', home_categories_products_indices_user %></td>
    <td><%= link_to 'Edit', edit_home_categories_products_indices_user_path(home_categories_products_indices_user) %></td>
    <td><%= link_to 'Destroy', home_categories_products_indices_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_home_categories_products_indices_user_path %>
