<%= form_for(@store_manager_messages_folders_message) do |f| %>
  <% if @store_manager_messages_folders_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store_manager_messages_folders_message.errors.count, "error") %> prohibited this store_manager_messages_folders_message from being saved:</h2>

      <ul>
      <% @store_manager_messages_folders_message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
