<h1>Editing store_manager_messages_folders_message</h1>

<%= render 'form' %>

<%= link_to 'Show', @store_manager_messages_folders_message %> |
<%= link_to 'Back', store_manager_messages_folders_messages_path %>
