<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_store_manager_messages_folders_message_path(@store_manager_messages_folders_message) %> |
<%= link_to 'Back', store_manager_messages_folders_messages_path %>
