<%= form_for(@store_indices_delivery) do |f| %>
  <% if @store_indices_delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store_indices_delivery.errors.count, "error") %> prohibited this store_indices_delivery from being saved:</h2>

      <ul>
      <% @store_indices_delivery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
