<h1>Listing store_indices_deliveries</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @store_indices_deliveries.each do |store_indices_delivery| %>
  <tr>
    <td><%= link_to 'Show', store_indices_delivery %></td>
    <td><%= link_to 'Edit', edit_store_indices_delivery_path(store_indices_delivery) %></td>
    <td><%= link_to 'Destroy', store_indices_delivery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Delivery', new_store_indices_delivery_path %>
