<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_home_categories_products_indices_policy_path(@home_categories_products_indices_policy) %> |
<%= link_to 'Back', home_categories_products_indices_policies_path %>
