<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_home_categories_products_indices_cart_path(@home_categories_products_indices_cart) %> |
<%= link_to 'Back', home_categories_products_indices_carts_path %>
